{% extends 'base.html' %}

{% block title %}
Admin | TikTokApp
{% endblock title %}

{% block content %}
<div class="container-fluid text-center clearfix" style="background-color:lightgrey">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" title="TikTokApp" style="width:128px;" class="rounded-pill">
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="margin:0px;">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item active"><a class="nav-link" href="{{ url_for('admin_home') }}" title="Home"><i class="bi bi-house-fill"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_observe') }}" title="Observe"><i class="bi bi-incognito"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_payments') }}" title="Payments"><i class="bi bi-card-checklist"></i></a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_stripe_settings') }}" title="Stripe Settings"><i class="bi bi-gear-fill"></i></a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">{{ current_user.name }}</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('profile_update') }}"><i class="bi bi-person-circle"></i> Update</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-striped table-hover">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>created_date</th>
        <th>expiration_date</th>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.created_date}}</td>
            <td>{{client.expiration_date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}